body{
	margin: 0; 
	padding: 0;
	font-size:10px;
	font-size:.875rem;
	font-size:62.5%;
	background:#6ccdd5;
}
.ico_1{
	width: 7%;
	margin: 4%;
	display: block;
}
.content{
	width: 75%;
	margin:0 auto;
}
.ico_2{
	width: 40%;
	display:block;
	margin: 10% auto;
}
.txt{
	margin:20% auto;
	color: #fff;
	font-size: 0.9rem;
}
.ico_3,.ico_4{
	width: 50%;
}
.ico_3_text{
	text-align: center;
}
.ico_3_left,.ico_4_right{
	margin: 0 auto;
	display:inline-block;
	text-align: center;
	color: #fff;
}
.ico_3_left{
	float: left;
}
.ico_4_right{
	float: right;
}