*:focus { 
	outline: none;
} 
*{
	margin: 0; 
	padding: 0;	
}
body{
	font-size:10px;
	font-size:.875rem;
	font-size:62.5%;
}
.clearfix:after{
	content:".";
	display:block;
	clear:both;
	font-size:0;
	height:0;
	visibility:hidden;
}
.wrap{
	width: 100%;
	background: #eff0f4;
}
.head{
	height: 2.8rem;
	color: #fff;
	background-color: #5fc0cd;
}
.head{
	position: relative;
	left: 0;
	right: 0;
	top: 0;
}
.left,.right{
	color: #fff;
	text-decoration: none;
	line-height: 2.8rem;
	font-size: .9rem;
}
.center{
	margin: 0 4rem;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	line-height: 2.8rem;
}
.left{
	float: left;
	padding-left:1rem; 
}
.right{
	float: right;
	padding-right:1rem; 
}
.btn{
	background-color: #5fc0cd;
	border: none;
	text-align: center;
	line-height: 2.8rem;
	font-size: 1rem;
	color: #fff;
	width: 100%;
}
.reg-txt{
	float: right;
	padding: .8rem .8rem 0 0;
	color: #5fc0cd;
	text-decoration: underline;
	font-size: 0.8rem;
}
.pw,.num{
	width: 100%;
	padding-left: 4rem;
	margin: .5rem 0 0 0;
	border:none;
	line-height: 3rem;
	font-size: .8rem;
}
.num{
	background:url(../images/icon_mobile.png) no-repeat;
	background-size: 3.5rem;
	background-color: #fff;
}
.pw{
	background:url(../images/icon_pwd.png) no-repeat;
	background-size: 3.5rem;
	margin-bottom:.6rem;
	background-color: #fff;
}