*{
	margin: 0;
	padding: 0;
	font-family: PingFangSC-Regular, sans-serif;
}
html{
	overflow:auto;
	overflow-x:hidden
}
ul,li,h1,h2,h3,h4,h5,h6,a,input,select,textarea,p{
	list-style-type:none;
}
a:link,a:visited,a:hover,a:active{
	text-decoration: none;
	list-style-type:none;
}
label,input{
	outline:none;
	/*很多Android 浏览器的 a 链接有边框，这里取消它*/  
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

body{
	background: #eee;
}
	
.clearfix:after{
	content:".";
	display:block;
	clear:both;
	font-size:0;
	height:0;
	visibility:hidden;
}
.g800_title{
	padding: 15px 15px 0;
	position: relative;
	line-height: 25px;
	font-weight: bold;
}
.g800_ub1_img{
	width: 56%;
	position: absolute;
	left: 22%;
}
.g800_ub2_img{
	width: 54%;
	position: absolute;
	left: 23%;
}
.g800_img1_pad{
	padding:9% 0;
}
.g800_img2_pad{
	padding:6% 0;
}
.g800_border{
	width: 90%;
	box-shadow: 0 0 5px #aaa;
	background: #fff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	position:absolute;
	bottom: 0;
	left: 5%;
}
.g800_txt{
	padding: 4% 0 1% 4%;
	font-weight: bold;
}
.select{
	padding: 2%  4% 0.1%;
	font-weight: bold;
}
.g800_txt_bold{
	font-weight: bold;
}
.g800_but{
	display: block;
	width: 70%;
	min-width: 20%;
	padding: 3%;
	background: #2db500;
	border-radius: 8px;
	color: #fff;
	font-weight: bold;
	margin:5% auto;
	text-align: center;
}
.g800_pad{
	margin-top: 5%;
}
/*ub3*/
.g800_ub3{
	margin-top: 20%;
}
.g800_ub3_img{
	width: 40%;
	position: relative;
	left: 30%;
}
.g800_ub3_txt{
	text-align: center;
	line-height: 25px;
}
/*ub4*/
.g800_ub4_txt{
	margin-bottom:10%;
}
.ub5_but{
	margin-top: 10%;
}
.g800_ub6_img{
	width: 40%;
	position: relative;
	left: 30%;
	margin-bottom: 5%;
}
@media screen and (max-width:320px){
	.g800_ub1_img,.g800_ub2_img{
		width: 46%;
		left: 27%;
		padding: 5% 0;
	}
	
}